<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Robot Parts Inventory</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/postrequest.js"></script>
<script src="/js/getrequest.js"></script>
</head>
<body>

	<div class="container">

		<h3 style="color: blue">Kahoot Robot Parts Inventory</h3>

		<div>
			<form class="form-inline" style="margin: 20px 20px 20px 20px"
				id="robotPartForm">
				<div class="form-group">
					<label for="serialNumber" style="margin-right: 5px">Serial Number:</label>
					<input type="text" class="form-control" id="serialNumber"
						placeholder="Enter Serial Number" />
				</div></br></br>
				<div class="form-group">
					<label for="name" style="margin-left: 20px; margin-right: 5px">Name:</label>
					<input type="text" class="form-control" id="name"
						placeholder="Enter Robot Part Name" />
				</div></br></br>
				<div class="form-group">
					<label for="manufacturer" style="margin-left: 20px; margin-right: 5px">Manufacturer:</label>
					<input type="text" class="form-control" id="manufacturer"
						placeholder="Enter Manufacturer Name" />
				</div></br></br>
				<div class="form-group">
					<label for="weight" style="margin-left: 20px; margin-right: 5px">Weight:</label>
					<input type="text" class="form-control" id="weight"
						placeholder="Enter Weight" />
				</div></br></br>
				<button type="submit" class="btn btn-default"
					style="margin-left: 20px; margin-right: 5px">Submit</button></br></br>
			</form>
		</div>

		<div class="col-sm-7" id="postResultDiv"></div>

		<div class="col-sm-7" style="margin: 20px 0px 20px 0px">
			<button id="getAllRobotPartsId" type="button" class="btn btn-primary">Get
				All Robot Parts</button>
			<div id="getResultDiv" style="padding: 20px 10px 20px 50px">
				<ul class="list-group">
				</ul>
			</div>
		</div>
</body>
</html>